*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial',sans-serif;
    color: #202124;
    font-size: 14px;
    text-decoration: none;
}
body
{
    overflow: hidden;
}
section .main
{
   
   width: 580px;
   margin: 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
}
section .main .searchBx
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchBx .query
{
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    padding-left: 45px;
    padding-right: 60px;
}
section .main .searchBx .icons
{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
    cursor: pointer;
}
section .main .searchBx .keyboard
{
    width: 24px;
}
section .main .searchBx .icons img
{
    max-width: 100%;
}
.searchBtn, .getluckyBtn
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.searchBtn:hover, .getluckyBtn:hover
{
    border: 1px solid #ccc;
}
nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 14px;
}
nav a {
	font-size: 13px;
	display: inline-block;
	line-height: 24px;
	font-weight: 400;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;
	padding: 5px 6.7px
}
nav a:hover {
	text-decoration: underline;
	opacity: .85;
}
nav img:hover {
	opacity: .8;
}
nav button {
	font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	cursor: pointer;
    color:white;
    
    border: 1px solid #4285f4;
    background: #4285f4;
}

.section-1 {
	flex: 1;
}
.section-1 .logo {
	display: block;
	margin: 0px auto;
	margin-top: 107px;
}
.s-box {
	width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: -8px;
	text-align: center;
}
.s-box .s-input {
	display: block;
	border: 1px solid #ddd;
	color: rgba(0,0,0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
}
.s-box  .s-input:hover {
	border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.s-box .search-icon {
	width: 16px;
	opacity: .4;
	position: absolute;
	top: 16px;
	left: 15px;
}
.s-box .vs-icon {
	width: 14px;
	position: absolute;
	top: 13px;
	right: 24px;
    cursor: pointer;
}
.s-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
	border: 1px solid transparent;
	padding: 9px 15px;
	color: #666;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}
.s-btn:hover {
	border: 1px solid #aaa;
}
footer {
	background: #f2f2f2;
    Position:absolute;
    Bottom:0;
    width: 100%
}
footer h4 {
	color: #70757a;
	font-size: 15px;
	line-height: 39.5px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
}
footer a {
	color: #5f6368;
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
}
footer a:hover {
	text-decoration: underline;
}
.links {
	border-top: 1px solid #ddd;
	display: flex;
}
.link-1 {
	padding-left: 18.7px;
	flex: 1;
}
.link-2 {
	padding-right: 18.7px;
}
